/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --sidebar-bg: #2a2a2a;
  --message-bg: #323232;
  --input-bg: #2a2a2a;
  --button-bg: #1e90ff;
  --button-text: #fff;
  --message-sender: #00a0f0;
  --message-receiver: #393939;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}